:root {
  --main-color: #00425A;
  --secondary-color: #1F8A70;
  --third-color: #BFDB38;
  --fourth-color: #FC7300;
}

body {
  background-color: var(--main-color);
}

.navButton {
  display: inline-block;
  color: white;
  font-weight: bold;

}

.navButton:hover {
  border-bottom: 2px solid white;
}

.navBar {
  height: 30px;
  margin-bottom: 40px;
}